{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
	<h2><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h2>
{% endblock header %}

{% block content %}

	<p>- - edit entry - -</p>
	<form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post' class="form">
		{% csrf_token %}
		{% bootstrap_form form %}

		{% buttons %}
			<button name="save" type="submit" class="btn btn-primary">save</button>
		{% endbuttons %}
	</form>

	<!-- TODO : delete button for entry -->
<!-- 	<input name="delete" type="submit" value="delete" class="btn btn-danger" style="float: right; position: relative; top: -50px;"> -->

{% endblock content %}